<!-- ======= Filter Section start ======= -->
<div>
    <div class="events_details_main">
        <div class="events_details_inner">
            <div class="events_slider">
                <img src="../../../assets/img/event-dt/event_img.jpg">
            </div>
            <div class="events_content">
                <app-primary-detail></app-primary-detail>
                <app-secondary-detail></app-secondary-detail>
                <app-third-detail></app-third-detail>
                <app-event-widget></app-event-widget>
                <app-review></app-review>
                <app-event-schedule-widget></app-event-schedule-widget>
            </div>
        </div>
    </div>
</div>