<div class="share_widget">
  <div class="widget_heading widget_head_red">
    <h3>Share the Experience</h3>
  </div>
  <div class="media_share">
    <ul>
      <li><a href="#"><img src="../../../../assets/img/event-dt/fb_ic.png"></a></li>
      <li><a href="#"><img src="../../../../assets/img/event-dt/tw_ic.png"></a></li>
      <li><a href="#"><img src="../../../../assets/img/event-dt/dri_ic.png"></a></li>
      <li><a href="#"><img src="../../../../assets/img/event-dt/pin_ic.png"></a></li>
    </ul>
  </div>
</div>