<div class="events_primary_detail">
    <div class="primary_inner d-flex">
        <div class="eve_pri_headings">
            <h3>All You Can Eat Breakfast @ Circle Café</h3>
            <span class="eve_location"><span style="color:#4bbfba;">Theme Parks</span>, Explore The City </span>
            <div class="eve_tags d-flex">
                <div class="eve_age tags">1-1 yrs</div>
                <div class="eve_tag tags">Baby & Toddlers</div>
                <div class="eve_tag tags">Classes Workshop & Online</div>
                <div class="eve_tag tags">Deals</div>
                <div class="eve_tag deal tags">Deals</div>
            </div>
        </div>
        <div class="eve_booking_btn">
            <button type="button">Book Now!</button>
        </div>
    </div>
    <div class="events_period">Limited time only!</div>
    <!-- share part start -->
    <app-share-section></app-share-section>
    <!-- share part end -->
    <!-- terms and condition start -->
    <app-terms-condition></app-terms-condition>
    <!-- terms and condition start -->
</div>