<section id="advertisement" class="advertisement">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="ad_banner">
                    <div class="ad_banner_inner">
                        <div class="ad-banner">
                            <owl-carousel-o [options]="customOptions">
                                <ng-template carouselSlide>
                                    <div class="slide ad_image">
                                        <a href="#"><img src="../../assets/img/banner-ad/banner_01.jpg" alt="ad_01"></a>
                                    </div>
                                </ng-template>
                                <ng-template carouselSlide>
                                    <div class="slide ad_image">
                                        <a href="#"><img src="../../assets/img/banner-ad/banner_02.jpg" alt="ad_02"></a>
                                    </div>
                                </ng-template>
                                <ng-template carouselSlide>
                                    <div class="slide ad_image">
                                        <a href="#"><img src="../../assets/img/banner-ad/banner_03.jpg" alt="ad_03"></a>
                                    </div>
                                </ng-template>
                            </owl-carousel-o>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<app-sub-slider></app-sub-slider>