<div class="reveiw_form_section">
    <div class="review_inputs d-flex">
        <label>Your Review:</label>
        <div class="review">
            <ul>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
            </ul>
        </div>
    </div>
    <div class="review_inputs d-flex">
        <label>Your Photos:</label>
        <input type="File" placeholder="Upload Now" name="">
    </div>
    <div class="review_inputs d-flex">
        <label>Your Message:</label>
        <textarea placeholder="Tyep your message here..."></textarea>
    </div>
    <div class="review_inputs d-flex">
        <label></label>
        <button type="submit">Post Review</button>
    </div>
</div>