<div class="share_section text-center d-flex">
    <div class="share_ui"><a href="javascript:void(0)"><img src="../../../../assets/img/event-dt/heart_ic.png"><br><span>Add to favourite</span></a></div>
    <div class="share_ui"><a href="javascript:void(0)"><img src="../../../../assets/img/event-dt/g_calendar_ic.png"><br><span>Add to Calendar</span></a></div>
    <div class="share_ui"><a href="javascript:void(0)"><img src="../../../../assets/img/event-dt/g_star_ic.png"><br><span>Add Review</span></a></div>
    <div class="share_ui"><a href="javascript:void(0)"><img src="../../../../assets/img/event-dt/g_modify_ic.png"><br><span>Modify Activity</span></a></div>
    <div class="share_ui"><a href="javascript:void(0)"><img src="../../../../assets/img/event-dt/g_share_ic.png"><br><span>Share Activity</span></a></div>
 </div>