<section id="browse_category" class="browse_category">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="browse_cat_section">
                    <div class="browse_cat_section_inner">
                        <div class="browse_main_heading center_heading text-center">
                            <h1>Browse By Category</h1>
                            <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy</p>
                        </div>
                        <div class="browse_cat_carousel ">
                        <owl-carousel-o [options]="customOptions">
                            <ng-container *ngFor="let slide of dynamicSlide">
                                <ng-template carouselSlide >
                                        <div class="event_box browse_desc_box carouselSlide">
                                            <div class="events_des_image slide ">
                                                <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title">
                                            </div>
                                            <div class="event_description browse_desc">
                                                <h3>What we learn from cooking together with children</h3>
                                                <div class="event_btm_des">
                                                    <div class="left_section">
                                                        <span class="small_text">The Dubai Mall</span>
                                                        <div class="review">
                                                            <ul>
                                                                <li><i class="fa fa-star"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                            </ul>
                                                        </div>
                                                        <button type="button" class="btn browse_rm_btn">Read
                                                            More</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ng-container>
                            </owl-carousel-o>
                        </div>
                        <div class="reveiw_btn text-center"><button type="button">
                                <div class="review btn_inner">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div> Share with the community your review on an activity
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



